<style>
  input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%
}
</style>
<form action={{url_for("home")}} method="post">
  <label for="location">Location :</label>
    <select name="location" id="location">
        <option value="Austria">Austria</option>
        <option value="Brazil">Brazil</option>
        <option value="Canada">Canada</option>
        <option value="China">China</option>
        <option value="Cyprus">Cyprus</option>
        <option value="Czech Republic">Czech Republic</option>
        <option value="Finland">Finland</option>
        <option value="France">France</option>
        <option value="Germany">Germany</option>
        <option value="Greece">Greece</option>
        <option value="Hong Kong">Hong Kong</option>
        <option value="Hungary">Hungary</option>
        <option value="Ireland">Ireland</option>
        <option value="Israel">Israel</option>
        <option value="Italy">Italy</option>
        <option value="Japan">Japan</option>
        <option value="Korea, Republic of">Korea, Republic of</option>
        <option value="Norway">Norway</option>
        <option value="Portugal">Portugal</option>
        <option value="Puerto Rico">Puerto Rico</option>
        <option value="Poland">Poland</option>
        <option value="Russian Federation">Russian Federation</option>
        <option value="Singapore">Singapore</option>
        <option value="Slovenia">Slovenia</option>
        <option value="Spain">Spain</option>
        <option value="Sweden">Sweden</option>
        <option value="Switzerland">Switzerland</option>
        <option value="Taiwan">Taiwan</option>
        <option value="United Kingdom">United Kingdom</option>
        <option value="United States" selected>United States</option>
        <option value="Uruguay">Uruguay</option>
    </select>
  <label for="category">Category :</label>
  <select name="category" id="category">
      <option value="Sports">Sports</option>
      <option value="Business">Business</option>
      <option value="Microsoft">Microsoft</option>
      <option value="Education">Education</option>
      <option value="Entertainment">Entertainment</option>
      <option value="Security">Security</option>
      <option value="Location">Location</option>
      <option value="Travel">Travel</option>
      <option value="Transport">Transport</option>
      <option value="Communication">Communication</option>
      <option value="Finance">Finance</option>
      <option value="Govt">Govt</option>
      <option value="General">General</option>
      <option value="People">People</option>
      <option value="Social">Social</option>
      <option value="AutoComplete">AutoComplete</option>
    </select>
  <label for="user_id">User id :</label>
  <input type="number" id="user_id" name="user_id" min="0" max="399" placeholder="Enter values between 0 to 399" required>
  <button class = button  type="submit">Submit</button>
</form>